.home-container {
  background: url("https://img.freepik.com/premium-photo/old-post-striped-envelope-background-with-copy-space-mail-letter-with-stripped-vintage_113767-1350.jpg?w=2000");
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: repeat(
    5,
    max-content
  ); 
  grid-auto-rows: max-content;
  grid-gap: 30px;
  justify-items: center; 
  align-content: start; 
  justify-content: flex-end;
}

.modal {
  background-image: url("assets/blank.png");
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 33rem;
  width: 30rem;
  filter: drop-shadow(5px 5px 10px black);
  font-size: 1.3rem;
  padding-top: 5rem;
  font-family: "Bradley Hand", sans-serif;
  z-index: 100;
  padding-left: 10px;
}

.stamp {
  --r: 10px; /* control the radius of the circles */
  padding: calc(2 * var(--r));
  filter: grayscale(0.4) drop-shadow(0 0 1px #0005) drop-shadow(0 0 1px #0005);
  background: radial-gradient(var(--r), #0000 98%, #fff) round
      calc(-1.5 * var(--r)) calc(-1.5 * var(--r)) / calc(3 * var(--r))
      calc(3 * var(--r)),
    linear-gradient(#fff 0 0) no-repeat 50% / calc(100% - 3 * var(--r))
      calc(100% - 3 * var(--r));
  height: 5rem;
  width: 6rem;
}

.search-bar-container {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}

.stamp-flag {
  height: 4rem;
  width: 6rem;
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}
