body {
  margin: 0;
}

.home-container {
  background: url("assets/envelope.avif");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.stamp-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-auto-rows: max-content;
  grid-gap: 1.4rem;
  justify-items: center;
  justify-content: flex-end;
  padding: 3.5rem;
}

.modal {
  background-image: url("assets/blank.png");
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 27rem;
  filter: drop-shadow(5px 5px 10px black);
  font-size: 1.3rem;
  padding-top: 5rem;
  font-family: "Bradley Hand", sans-serif;
  z-index: 100;
  padding-left: 10px;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: black
}

.stamp {
  --r: 10px;
  padding: calc(2 * var(--r));
  filter: grayscale(0.4) drop-shadow(0 0 1px #0005) drop-shadow(0 0 1px #0005);
  background: radial-gradient(var(--r), #0000 98%, #fff) round calc(-1.5 * var(--r)) calc(-1.5 * var(--r)) / calc(3 * var(--r)) calc(3 * var(--r)),
    linear-gradient(#fff 0 0) no-repeat 50% / calc(100% - 3 * var(--r)) calc(100% - 3 * var(--r));
  height: 5rem;
  width: 6rem;
}

.search-bar-container {
  position: absolute;
  font-family: 'Bradley Hand', sans-serif;
  font-size: 1.5rem;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.search-bar {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.send-btn {
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1rem;
}

.stamp-flag {
  height: 4rem;
  width: 6rem;
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .home-container {
    background: url("assets/envelope.avif");
    background-size: 100% 100%;
  }

  .stamp {
    --r: 8px;
    height: 3rem;
    width: 4rem;
  }

  .stamp-flag {
    height: 2rem;
    width: 4rem;
  }

  .stamp-container {
    grid-template-columns: repeat(3, max-content);
    grid-gap: .8rem;
    padding-right: 2rem;
  }

  .search-bar-container {
    font-family: 'Bradley Hand', sans-serif;
    font-size: .8rem;
    top: 85%;

  }

  .search-bar {
    font-size: .8rem;
    border-radius: 10px;
    border: 1px solid black;
  }

  .send-btn {
    border-radius: 10px;
    border: 1px solid black;
    font-size: .8rem;
    color: black;
  }

}